@import "../../../styles/base";

.svg-section {
  width: 80%;
  margin: auto;
  position: relative;

  @media only screen and (max-width: $bp-small) {
    width: 100%;
  }
}

svg {
  fill: var(--red-color);

  path.svg-el {
    transition: fill 0.2s;
  }
}
