@import "../../../styles/base";
.large-container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: stretch;

  @media only screen and (max-width: $bp-small) {
    flex-direction: column;
    padding-bottom: 3rem;
  }

  .fifty-container:not(:last-child) {
    border-right: 1px solid var(--red-color);
    @media only screen and (max-width: $bp-small) {
      border: none;
    }
  }
}
