:root {
  --green-color: #5acf6c;
  --blue-color: #80abfe;
  --orange-color: #fa9902;
  --yellow-color: #dbf035;
  --pink-color: #fb9bc6;
}

$bp-largest: 75em;
$bp-large: 68.75em;
$bp-medium: 56.25em;
$bp-small: 37.5em;
$bp-smallest: 31.25em;

html {
  box-sizing: border-box;
  font-size: 82.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 70%;
  }
}
