@import "../../../styles/base";

.switch-condition {
  width: 9.5rem;
  height: 4.5rem;
  background-color: #f43b00;
  border: 1px solid black;
  border-radius: 5rem;
  display: flex;
  justify-content: flex-start;
  position: relative;
  cursor: pointer;
  transition: background-color 0.15s;

  @media only screen and (max-width: $bp-small) {
    height: 4rem;

    width: 9rem;
  }

  &_header {
    font-style: italic;
  }

  &.active {
    background-color: #5acf6c;

    & .switch-condition_thumb {
      border: 3px solid #5acf6c;
      right: 0%;
    }
  }
  &_thumb {
    @media only screen and (max-width: $bp-small) {
      height: 4rem;
      width: 4rem;
      right: 55%;
    }

    height: 4.5rem;
    width: 4.5rem;
    border-radius: 5rem;
    background-color: white;
    border: 3px solid #f43b00;
    position: absolute;
    right: 52%;
    display: block;

    -webkit-transition: right 0.15s ease-in-out;
    -moz-transition: right 0.15s ease-in-out;
    -o-transition: right 0.15s ease-in-out;
    transition: right 0.15s ease-in-out;

    box-sizing: border-box;
    -webkit-box-shadow: inset 0px 0px 0px 1px black;
    -moz-box-shadow: inset 0px 0px 0px 1px black;
    box-shadow: inset 0px 0px 0px 1px black;
  }
}
