.margin-section-fifty {
  width: 50%;
  box-sizing: border-box;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 3rem;

  h2 {
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  &:not(:last-child) {
    border-right: 1px solid var(--red-color);
  }

  & > * {
    padding: 0;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
