@import "../../../styles/base";

.info {
  &-ico {
    margin-left: 1rem;
    width: 1.2rem;
    height: 1.2rem;
    position: relative;

    @media only screen and (max-width: $bp-small) {
      width: 1.5rem;
      height: 1.5rem;
    }

    img {
      width: 100%;
    }
  }

  &-box {
    position: relative;
    top: 3rem;
    left: 0.5rem;
    display: none;

    background-color: var(--red-color);
    border: 1px solid black;
    z-index: 9;
    padding: 1rem;
    width: 19rem;
    color: #fff;
    text-transform: none;
    font-size: 1.2rem;
    position: absolute;
    margin: 0;
    padding: 1.3rem;
    text-align: left;

    &:before {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      left: -1px;
      top: -13px;
      border: 6px solid;
      z-index: -1;
      border-color: transparent transparent black black;
    }

    &:after {
      content: " ";
      position: absolute;
      width: 0;
      height: 0;
      left: 0px;
      top: -11px;
      border: 6px solid;
      z-index: -1;
      border-color: transparent transparent var(--red-color) var(--red-color);
    }
  }
}
