@import "../../../styles/base";

.skinny-header {
  &-container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    @media only screen and (max-width: $bp-small) {
      margin-bottom: 2.2rem;
    }
  }

  font-weight: 400;
  text-transform: uppercase;
  margin: 0px;

  @media only screen and (max-width: $bp-small) {
    font-size: 1.9rem;
    font-weight: 400;
  }
}
