@import "../../../styles/base";

.skinny-header {
  font-weight: 400;
  text-transform: uppercase;
  margin: 0px;
  margin-bottom: 2.5rem;

  @media only screen and (max-width: $bp-small) {
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 3rem;
  }
}
