@import "../../../styles/base";

.skinny-header {
  z-index: 999;
  &-container {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;

    &.contains-svg {
      position: absolute;
    }

    @media only screen and (max-width: $bp-small) {
      margin-bottom: 2.2rem;
      justify-content: space-between;
    }
  }

  font-weight: 400;
  text-transform: uppercase;
  margin: 0px;

  @media only screen and (max-width: $bp-small) {
    font-size: 1.8rem;
    font-weight: 400;
  }
}
